<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About Us-Shelton lanka</title>
<link rel="stylesheet" href="information.css" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='information.css') }}">
</head>

<body>
<div align="justify">

<a class="back" href="/">Home</a>

<div class="span">
<marquee behavior="scroll" direction="up" style="height:700px; width:700px" scrollamount="4" >

<blockquote>
  <h1 align="center">Vision</h1>
  <p align="center">To Improved rural livelihoods and sustainable food systems in the global South.</p>
  <h1 align="center">Mission</h1>
  <p align="center">To promote agroecological principles and rural entrepreneurship through capacity development and South-South exchange of quality farmer-to-farmer training videos in local languages.<br>
    we hope to provide our customers <br><br />
    Fabulous in Food<br>
    Attentive in Service<br>
    Best in Quality</p>
  </p>
  <h1 align="center">Our Values</h1>
  <p align="center"><strong>People</strong><br>
    Together, we embrace diversity to create a place where we treat each other with respect and dignity.<br><br>
    Respect and value for local knowledge and innovations and Respect and value for local knowledge and innovations.<br><br>
    <strong>Community</strong><br>
    Value for the environment and ecosystems.<br><br>
    Professional, effective and informed by relevant science.<br><br>
    Creative, flexible and innovative.<br><br>
    <strong>Enviornment</strong><br>
    Make persons who gives full of love to nature and protect until the last human being.</p>
</blockquote>
</marquee>
 </div>


</div>

</body>
</html>
