<!DOCTYPE html >
<html >
<head>
<meta charset="utf-8" />
<title>Cultivation-Home page</title>
<link rel="stylesheet"type="text/css"  href="slider.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='slider.css') }}">
</head>

<body>
<img src="{{ url_for('static', filename='img/logo.jpg') }}" class="logo"/>
<div class="menu-bar">
<ul>
<li class=""><a href="/">Home</a></li>
<li><a href="index/about">About</a></li>
<li><a href="index/ml">Future Data</a></li>
<li><a href="index/cultibot">Culi-Bot</a></li>
</ul>
</div>
<div class="slidem"></div>
<div class="footer">
<div class="footer-content">
<div class="footer-section about">
<h1 class="logo-text"><span>Cultivation In </span> Lanka</h1><br>
<p>
We help our people to cultivate, in diferent ways when they needs assists in cutivating.	
</p><br>
</div>

<div class="footer-section links">
<h1 class="logo-text"><span>Informations </span></h1><br>
<ul>
<li><a href="index/plants">Plants</a></li>
<li><a href="index/crops">Crops</a></li>
<li><a href="index/fertilizer">Fertilizers</a></li>
<li><a href="https://www.google.com/search?q=how+to+cultivate&source=lmns&bih=640&biw=1384&rlz=1C1CHBF_enLK793LK793&hl=en&sa=X&ved=2ahUKEwjckLLUzpfvAhXFGrcAHa2sA3sQ_AUoAHoECAEQAA">Other</a></li>
</ul>
</div>
</div>
</div>
<div class="footer_colour">
<div class="my_footer">&copy; 
uditha.nayanagith@gmail.com &nbsp;&nbsp;&nbsp;  Designed by Uditha Nayanajith
</div>
</div>
</div>
</div>

</body>
</html>