<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Cultivation-Home page</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}" media="screen,projection">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='materialize.css') }}" media="screen,projection">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='materialize.min.css') }}" media="screen,projection">

</head>
<script>
  function updateRangeInput(elem) {
  $(elem).next().val($(elem).val());
}
</script>
<style>
.back{
    font-size: 36px;
    border: 1px solid rgb(231, 10, 10);
    border-radius:2px;
    color: #000000;
    display: inline-block;
  }
  .body_back{
    background-image: url(static\images\slider.jpg);
  }
</style>
<body background="{{ url_for('static', filename='images/slider2.jpg') }}">
  <div class="back">
    <a  href="/">Home</a>
  </div>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Culti-Bot Green Health,Adding Green To Your Life</a>
      <ul class="right hide-on-med-and-down">
      </ul>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Get to know how much sutaible your place to Cultivate</h1>
      <div class="row center">
        <h5 class="header col s12 light">Predict the probability Success Of Planting
        <br>
        </h5>
      </div>

              <div class="row">
    <form action='/index/predict' method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s4">
            <label for="first_name" style="color: blue;"><b>Temperature (c)</b></label>
            <br>          
            <input type="range" style="padding-top: 25px; border: none; height: 2.1em; border-radius: 50%;" value="22" min="-2" max="42" oninput="updateRangeInput(this)" value="50">
          <input   id="first_name" name='Temperature'type="text" value="0" class="validate">
        </div>
        <div class="input-field col s4">
          <label for="last_name" style="color: rgb(60, 98, 2);"><b>Good(%) </b></label>
          <label for="last_name" style="padding-left: 165px; color: blue;"><b>Air width(%) </b></label>
          <label for="last_name" style="padding-left: 350px; color: red;"><b>Bad(%) </b></label>
            <br>
            <input type="range" style="padding-top: 25px; border: none; height: 2.1em; border-radius: 50%;"  min="1" max="100" oninput="updateRangeInput(this)" value="50">
          <input id="last_name"  name="Oxygen" type="text" value="0" class="validate">

        </div>

        <div class="input-field col s4">
            <label for="_name" style="color: blue;"><b>Humidity</b></label>
            <br>
            <input type="range" style="padding-top: 25px; border: none; height: 2.1em; border-radius: 50%;" min="1" max="100" oninput="updateRangeInput(this)" value="50">
          <input id="_name" name="Humidity" type="text"  value="0" class="validate">

        </div>

      </div>

      <div class="row center">

          <button type="submit" class="btn-large waves-effect waves-light orange">Predict Probability</button>
      </div>
    </form>
      </div>

      <br><h4 align="center"<b>{{pred}}</b></h4>
        <br>

    </div>
  </div>
  <div class="container">
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src=".js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>

